#include <stdio.h>

/* Greatest common divisor */
int gcd(int a, int b) {
    while (b != 0) {
        int t = b;
        b = a % b;
        a = t;
    }
    return a; // Euclid
}

int main(void) {
    printf("gcd = %d\n", gcd(48, 36));
    return 0;
}
