module Main where

-- Sum a list of integers
total :: [Int] -> Int
total = foldr (+) 0

{- Entry point -}
main :: IO ()
main = do
  let values = [1, 2, 3]
  putStrLn ("sum = " ++ show (total values))
