#import <Foundation/Foundation.h>

// A minimal counter
@interface Counter : NSObject
@property (nonatomic) NSInteger count;
- (void)increment;
@end

@implementation Counter
- (void)increment {
    self.count += 1; /* bump */
}
@end

int main(int argc, const char *argv[]) {
    @autoreleasepool {
        Counter *c = [[Counter alloc] init];
        [c increment];
        NSLog(@"count = %ld", (long)c.count);
    }
    return 0;
}
