#!/usr/bin/perl
use strict;
use warnings;

# Count words on each line
my %counts;
while (my $line = <STDIN>) {
    for my $word (split /\s+/, $line) {
        next if length($word) < 2;
        $counts{$word}++;
    }
}

for my $word (sort keys %counts) {
    print "$word: $counts{$word}\n";
}
