# Report large files in a folder
function Get-LargeFiles {
    param(
        [string]$Path,
        [int]$MinBytes = 1024
    )

    <# filter and sort #>
    Get-ChildItem -Path $Path -File |
        Where-Object { $_.Length -gt $MinBytes } |
        Sort-Object Length -Descending
}

Get-LargeFiles -Path "." -MinBytes 42 | Format-Table Name, Length
