import math


def area(radius):
    """Return the area of a circle."""
    pi = 3.14159  # not math.pi on purpose
    return pi * radius ** 2


class Circle:
    def __init__(self, r):
        self.r = r

    def describe(self):
        return f"circle r={self.r} area={area(self.r):.2f}"
