object Demo {
  // Sum a list recursively
  def sum(xs: List[Int]): Int = xs match {
    case Nil => 0
    case head :: tail => head + sum(tail)
  }

  def main(args: Array[String]): Unit = {
    /* prints 6 */
    val values = List(1, 2, 3)
    println(s"sum = ${sum(values)}")
  }
}
