import Foundation

// Fibonacci sequence
func fib(_ n: Int) -> Int {
    if n < 2 {
        return n
    }
    return fib(n - 1) + fib(n - 2)
}

let values = (0..<10).map { fib($0) }
/* prints the sequence */
print("fib:", values)
